@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'League Spartan', sans-serif;
}

:root {
    --primary: #393b44cc;
    --secondary: #F1F3F8;
    --display-pass: #F0A04B;
    --copy: #54436B;
    --text: #222;
    --border: #393B44;
    --heading: #D6E0F0;
    --counter: #0F0A3C;
    --slider-cir: #0F0A3C;
    --slider-bar: #54436B;
    --slider-bar2: #8D93AB;
    --strength-cir: #cccccc;
    --gen-pass: #393B44;
}

.passDisplay {
    color: var(--display-pass);
}

.sliderBg {
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
    background-size: 47.3684% 100%;
}

.check input:checked {
    background-color: var(--copy);
}

.check input:checked::before {
    position: absolute;
    content: '✔';
    color: var(--secondary);
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    top: -1px;
}


.tooltip {
    position: absolute;
    background-color: var(--copy);
    color: var(--heading);
    font-size: 1.25rem;
    top: -45px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
  }
  
  .tooltip.active {
    opacity: 1;
    transform: scale(1);
  }

  .slider::-webkit-slider-thumb {
    position:relative;
    z-index:1;
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: var(--slider-bar2);
    cursor:pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px var(--copy);
    transition: all 100ms ease-in;
}

.slider:focus{
    outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--copy);
    background-color: var(--heading);
    box-shadow: 0px 0px 5px 5px var(--copy);
}